<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="DbConn" connectionString="Data Source=DESKTOP-DVK4HA8; Initial Catalog=BSS_08092025; Integrated Security=True" providerName="System.Data.SqlClient" />
		<!--<add name="DbConn" connectionString="Data Source=YOURSERVER;Initial Catalog=YourDB;User ID=sa;Password=yourpassword;" providerName="System.Data.SqlClient" />-->		
	</connectionStrings>
	<appSettings>
		<!-- 0 = infinite timeout -->
		<add key="CommandTimeoutSeconds" value="0" />		

		<!-- Multiple daily schedule times -->
		<!-- Three run times: 9:00 AM, 6:00 PM, 2:00 AM -->
		<add key="RunTimes" value="09:00,18:00,02:00" />
		<!-- HH:mm, separated by commas -->

		<!-- Retry settings -->
		<add key="RetryCount" value="3" />
		<add key="RetryDelaySeconds" value="30" />

		<!-- Batch Size of the Employes for performace -->
		<add key="BatchSize" value="500" />
	</appSettings>
</configuration>